.header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  padding: 0 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.header img {
  height: 32px;
}