footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: none;
  font-size: var(--body-font-size-xs);
}

footer .footer > div{
  display: flex;
  justify-content: space-between;
  padding: 6px 30px;
}

footer .footer ul{
  list-style: none;
}

footer .footer li {
  display: inline-flex;
  vertical-align: top;
}

footer .footer li:not(:last-child)::after {
  content: "";
  background-color: #fff;
  width: 2px;
  height: 22px;
  display: inline-block;
  margin-left: 24px;
  margin-right: 24px;
}

@media (min-width: 600px) {
  footer {
    display: block;
  }
}

@media (min-width: 900px) {
  footer {
    display: block;
  }
}